.form-control {
  color: $greyFriends4;

  ::placeholder {
    color: $greyFriends4;
    opacity: .7;
    filter: brightness(120%);
  }
}

.input-group-prepend span, .form-control:not(:focus) {
  border-color: $gray-600 !important;
}

.input-group-prepend span, .form-control {
  height: calc(2.25rem + 2px);
}

@-webkit-keyframes autofill {
  to {
    color: $greyFriends4;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
}

.labels {
  color: $greyFriends4;
}
