.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  max-width: 250px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);

  &.img-circle {
    border-radius: 50%;
    max-width: 100px;
  }
}
