$base-font-size: 16px !default;

// Remove units (px, em, rem, etc.)
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1)
  }

  @return $number;
}


// Get the value of the size from px to rem
@function rem($pxSize, $base: $base-font-size) {
  @return 1rem * $pxSize / strip-unit($base)
}


// Get the value of the size from px to em
@function em($pxSize, $base: $base-font-size) {
  @return 1em * $pxSize / strip-unit($base)
}
