@mixin transform($transform) {
  -webkit-transform: $transform; // Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4
  -ms-transform: $transform; // IE 9
  transform: $transform; // IE 10, Fx 16+, Op 12.1+
}

@mixin bright($percent) {
  -webkit-filter: brightness($percent); // Ch 23+, Saf 6.0+, BB 10.0+
  filter: brightness($percent); // FF 35+
}
