.single-album-info {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;

  .left-section {
    width: 30%;
    float: left;

    img {
      width: 100%;
    }
  }

  .right-section {
    width: 70%;
    float: left;
    padding: rem(20) rem(10) rem(5) rem(40);
    box-sizing: border-box;

    h2 {
      margin-bottom: rem(20);
    }

    .track-numbers {
      color: $greyFriends4;
    }
  }
}
