.playlists-container {
  .button-items {
    width: 100%;

    button {
      display: block;
      margin: 0 auto;
    }
  }
}

.playlist-img {
  border: 10px solid;
  border-image: $icon-gradient 50;
}
