%login {
  .card {
    overflow: hidden;
    background-color: transparent
  }

  .card-header {
    padding: 0 0 20px;

    img {
      position: absolute;
      margin-left: -40px;
      margin-top: -260px;
      border-radius: 20%;
      width: 350px;
    }

    h1 {
      font-size: 3rem;
      font-weight: 900;
      color: $greyFriends2;
      position: relative;
      padding: 1rem 0 0 1rem;
    }
  }
}

#register-content, #login-content {
  @extend %login;
}

#login-content {
  .input-group-focus span, .form-control:focus {
    border-color: $primary !important;
  }

  .form-check input[type=checkbox]:checked + .form-check-sign::before {
    background-color: $primary;
  }
}

#register-content {
  .input-group-focus span, .form-control:focus {
    border-color: $info !important;
  }

  .form-check input[type=checkbox]:checked + .form-check-sign::before {
    background-color: $info;
  }
}
