.search {
  &-header {
    background-color: lighten($greyFriends2, 10%);
    padding: 1rem;
    position: relative;
    transform: translateY(-1rem);

    & .search-input {
      right: 0;
      width: 100%;
      background-color: transparent;
      border: none;
      color: $greyFriends4;
      font-weight: 700;
      letter-spacing: 0.1rem;

      &-box {
        right: 0;
        left: 230px;
      }
    }

    input:focus {
      outline: none;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    overflow-wrap: break-word;
    margin-bottom: 0;
  }

  &-subtitle {
    padding-top: rem(10);
    color: $greyFriends4;
  }

  &-content {
    padding-top: 20px;
    margin-bottom: rem(90);

    &_empty {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 32px;
      height: 50vh;
    }
  }
}
