#nav-bar {
  height: 100vh;
  background-color: #141E30;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;

  .logo {
    height: 130px;
    width: auto;

    img {
      max-height: 100%;
    }
  }

  .nav-item.search-item {

    &:hover {
      transition: 1s;
    }

    &:not(:hover) {
      transition: 1s;
    }

    &:active {
      transform: inherit;
      transition: .2s;
    }
  }

  .nav-item .nav-link {
    background-color: $greyFriends2;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: background-color, bo .5s;

    &:hover {
      background-color: darken($greyFriends2, 5%);
    }

    &:active {
      box-shadow: inherit;
    }
  }
}
