//Author       :   Yannick.BAUDRAZ@cpnv.ch
//Project      :   SelfTunes - _playing-bar.scss
//Description  :   Playing bar component
//Created      :   18.07.2019
//Updates      :   [dd.mm.yyyy author]
//                     [description of update]

#playing-bar {
  &_container {
    width: 100%;
    background: linear-gradient(to right, $greyFriends2, $greyFriends1);
    bottom: 0;
    position: fixed;
  }

  display: flex;
  height: rem(90);
  padding: 16px;
  box-sizing: border-box;

  &_left, &_right {
    width: 30%;
  }

  &_left {
    .album-artwork {
      height: 100%;
      margin-right: 15px;
      float: left;
      background-size: cover;
    }

    .track-info {
      display: table;

      & .track-name {
        margin: 6px 0;
        display: inline-block;
        width: 100%;
      }

      & .artist-name {
        color: $greyFriends4;
        font-size: $font-size-base / 1.25;
      }
    }
  }

  &_center {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;

    .play-container {
      display: flex;
      @include transform(translateY(6px));

      .play-time-bar {
        //@include transform(translateY(4px));
      }

      .play-time {
        color: $greyFriends4;
        font-size: rem(11);
        min-width: rem(40);
        text-align: center;
      }
    }
  }

  .content {
    width: 100%;
    height: rem(57);
  }

  .player-controls {
    .buttons {
      display: table;
      margin: 0 auto;
    }
  }

  &_right {
    .volume-bar {
      & > * {
        transform: translateX(-20px);
      }

      .play-time-bar {
        width: 33%;
        margin-right: auto;
      }
    }
  }
}

.control-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
    @include bright(150%);
  }

  &:focus {
    outline: 0 !important;
  }

  &.play img,
  &.pause img {
    width: 32px;
    height: 32px;

    &:hover {
      @include transform(scale(1.05));
    }

    &:active {
      @include transform(inherit);
      filter: inherit;
    }
  }

  &:active:not(.play):not(.pause) {
    filter: brightness(100%);
  }

  img {
    width: rem(20);
    height: rem(20);
  }
}

.play-time-bar {
  width: 100%;
  height: 1rem;
  display: inline-flex;
  cursor: pointer;

  .background {
    background-color: $greyFriends3;
    width: 100%;
    height: (100% / 3);
    border-radius: rem(2);
  }

  .foreground {
    background-color: $greyFriends4;
    height: 100%;
    border-radius: rem(2);
  }

  #playing-bar_center & .foreground {
    width: 0;
  }

  #playing-bar_right & .foreground {
    width: 100%;
  }

  &:hover .foreground {
    background-color: $success;
  }
}


