.track-list {
  padding: 0;
  list-style: none;

  &-row {
    display: flex;
    height: auto;
    padding: 15px 10px;
    color: $greyFriends4;

    .track-count {
      width: 8%;

      img {
        position: absolute;
        width: 1rem;

        &:first-child {
          visibility: hidden;
          cursor: pointer;

        }
      }

      span {
        visibility: visible;
      }
    }

    .track-info {
      width: 75%;

      span {
        display: block;
      }

      .track-name {
        color: $secondary;
      }
    }

    .track-options {
      width: 5%;
      text-align: right;

      img {
        visibility: hidden;
        width: 1.5rem;
        cursor: pointer;
      }
    }

    .track-duration {
      width: 12%;
      text-align: right;
    }

    &:hover {
      background-color: lighten($greyFriends2, 7.5%);

      .track-count {
        img {
          visibility: visible;
        }

        span, img:not(:first-child) {
          visibility: hidden;
        }
      }

      .track-options img {
        visibility: visible;
      }
    }
  }
}

.options-menu {
  position: fixed;
  z-index: 1000;
  display: none;
  width: rem(200);

  .item {
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    height: rem(40);
    padding: 0 1rem;
    cursor: pointer;
    color: $whiteText;
    background-color: lighten($greyFriends2, 12.5%);

    &:hover {
      background-color: lighten($greyFriends2, 7.5%);
    }
  }

  select {
    border: none !important;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    option {
      background-color: lighten($greyFriends2, 17.5%);
    }
  }
}
