body {
  background-color: #243B55;
}

hr {
  width: 100%;
  background-color: #A5ABBD;
}

#top-container {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin-bottom: 5.625rem;
}

#main-content {
  margin-left: auto;
}

.card {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.6);
}

#nav-bar {
  height: 100vh;
  background-color: #141E30;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
#nav-bar .logo {
  height: 130px;
  width: auto;
}
#nav-bar .logo img {
  max-height: 100%;
}
#nav-bar .nav-item.search-item:hover {
  transition: 1s;
}
#nav-bar .nav-item.search-item:not(:hover) {
  transition: 1s;
}
#nav-bar .nav-item.search-item:active {
  transform: inherit;
  transition: 0.2s;
}
#nav-bar .nav-item .nav-link {
  background-color: #243B55;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color, bo 0.5s;
}
#nav-bar .nav-item .nav-link:hover {
  background-color: #1c2f43;
}
#nav-bar .nav-item .nav-link:active {
  box-shadow: inherit;
}

.track-list {
  padding: 0;
  list-style: none;
}
.track-list-row {
  display: flex;
  height: auto;
  padding: 15px 10px;
  color: #A5ABBD;
}
.track-list-row .track-count {
  width: 8%;
}
.track-list-row .track-count img {
  position: absolute;
  width: 1rem;
}
.track-list-row .track-count img:first-child {
  visibility: hidden;
  cursor: pointer;
}
.track-list-row .track-count span {
  visibility: visible;
}
.track-list-row .track-info {
  width: 75%;
}
.track-list-row .track-info span {
  display: block;
}
.track-list-row .track-info .track-name {
  color: #f4f5f7;
}
.track-list-row .track-options {
  width: 5%;
  text-align: right;
}
.track-list-row .track-options img {
  visibility: hidden;
  width: 1.5rem;
  cursor: pointer;
}
.track-list-row .track-duration {
  width: 12%;
  text-align: right;
}
.track-list-row:hover {
  background-color: #2f4e70;
}
.track-list-row:hover .track-count img {
  visibility: visible;
}
.track-list-row:hover .track-count span, .track-list-row:hover .track-count img:not(:first-child) {
  visibility: hidden;
}
.track-list-row:hover .track-options img {
  visibility: visible;
}

.options-menu {
  position: fixed;
  z-index: 1000;
  display: none;
  width: 12.5rem;
}
.options-menu .item {
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem;
  cursor: pointer;
  color: #f4f5f7;
  background-color: #375a82;
}
.options-menu .item:hover {
  background-color: #2f4e70;
}
.options-menu select {
  border: none !important;
  -webkit-appearance: none;
}
.options-menu select:focus {
  outline: none;
}
.options-menu select option {
  background-color: #3f6794;
}

#playing-bar {
  display: flex;
  height: 5.625rem;
  padding: 16px;
  box-sizing: border-box;
}
#playing-bar_container {
  width: 100%;
  background: linear-gradient(to right, #243B55, #141E30);
  bottom: 0;
  position: fixed;
}
#playing-bar_left, #playing-bar_right {
  width: 30%;
}
#playing-bar_left .album-artwork {
  height: 100%;
  margin-right: 15px;
  float: left;
  background-size: cover;
}
#playing-bar_left .track-info {
  display: table;
}
#playing-bar_left .track-info .track-name {
  margin: 6px 0;
  display: inline-block;
  width: 100%;
}
#playing-bar_left .track-info .artist-name {
  color: #A5ABBD;
  font-size: 0.7rem;
}
#playing-bar_center {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}
#playing-bar_center .play-container {
  display: flex;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}
#playing-bar_center .play-container .play-time {
  color: #A5ABBD;
  font-size: 0.6875rem;
  min-width: 2.5rem;
  text-align: center;
}
#playing-bar .content {
  width: 100%;
  height: 3.5625rem;
}
#playing-bar .player-controls .buttons {
  display: table;
  margin: 0 auto;
}
#playing-bar_right .volume-bar > * {
  transform: translateX(-20px);
}
#playing-bar_right .volume-bar .play-time-bar {
  width: 33%;
  margin-right: auto;
}

.control-button {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}
.control-button:hover {
  cursor: pointer;
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}
.control-button:focus {
  outline: 0 !important;
}
.control-button.play img, .control-button.pause img {
  width: 32px;
  height: 32px;
}
.control-button.play img:hover, .control-button.pause img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.control-button.play img:active, .control-button.pause img:active {
  -webkit-transform: inherit;
  -ms-transform: inherit;
  transform: inherit;
  filter: inherit;
}
.control-button:active:not(.play):not(.pause) {
  filter: brightness(100%);
}
.control-button img {
  width: 1.25rem;
  height: 1.25rem;
}

.play-time-bar {
  width: 100%;
  height: 1rem;
  display: inline-flex;
  cursor: pointer;
}
.play-time-bar .background {
  background-color: #414756;
  width: 100%;
  height: 33.3333333333%;
  border-radius: 0.125rem;
}
.play-time-bar .foreground {
  background-color: #A5ABBD;
  height: 100%;
  border-radius: 0.125rem;
}
#playing-bar_center .play-time-bar .foreground {
  width: 0;
}
#playing-bar_right .play-time-bar .foreground {
  width: 100%;
}
.play-time-bar:hover .foreground {
  background-color: #00f2c3;
}

#register-content .card, #login-content .card {
  overflow: hidden;
  background-color: transparent;
}
#register-content .card-header, #login-content .card-header {
  padding: 0 0 20px;
}
#register-content .card-header img, #login-content .card-header img {
  position: absolute;
  margin-left: -40px;
  margin-top: -260px;
  border-radius: 20%;
  width: 350px;
}
#register-content .card-header h1, #login-content .card-header h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #243B55;
  position: relative;
  padding: 1rem 0 0 1rem;
}

#login-content .input-group-focus span, #login-content .form-control:focus {
  border-color: #E14ECA !important;
}

#login-content .form-check input[type=checkbox]:checked + .form-check-sign::before {
  background-color: #E14ECA;
}

#register-content .input-group-focus span, #register-content .form-control:focus {
  border-color: #1d8cf8 !important;
}
#register-content .form-check input[type=checkbox]:checked + .form-check-sign::before {
  background-color: #1d8cf8;
}

.album-info :first-child {
  font-size: 1.3rem;
  font-weight: bold;
}
.album-info p {
  word-wrap: break-word;
}

.single-album-info {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
}
.single-album-info .left-section {
  width: 30%;
  float: left;
}
.single-album-info .left-section img {
  width: 100%;
}
.single-album-info .right-section {
  width: 70%;
  float: left;
  padding: 1.25rem 0.625rem 0.3125rem 2.5rem;
  box-sizing: border-box;
}
.single-album-info .right-section h2 {
  margin-bottom: 1.25rem;
}
.single-album-info .right-section .track-numbers {
  color: #A5ABBD;
}

.search-header {
  background-color: #335479;
  padding: 1rem;
  position: relative;
  transform: translateY(-1rem);
}
.search-header .search-input {
  right: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #A5ABBD;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.search-header .search-input-box {
  right: 0;
  left: 230px;
}
.search-header input:focus {
  outline: none;
}
.search-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.005em;
  overflow-wrap: break-word;
  margin-bottom: 0;
}
.search-subtitle {
  padding-top: 0.625rem;
  color: #A5ABBD;
}
.search-content {
  padding-top: 20px;
  margin-bottom: 5.625rem;
}
.search-content_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  height: 50vh;
}

.playlists-container .button-items {
  width: 100%;
}
.playlists-container .button-items button {
  display: block;
  margin: 0 auto;
}

.playlist-img {
  border: 10px solid;
  border-image: linear-gradient(to bottom, #2F62F9, #8432C3) 50;
}

.form-control {
  color: #A5ABBD;
}

.form-control ::placeholder {
  color: #A5ABBD;
  opacity: 0.7;
  filter: brightness(120%);
}

.input-group-prepend span, .form-control:not(:focus) {
  border-color: #6C757D !important;
}

.input-group-prepend span, .form-control {
  height: calc(2.25rem + 2px);
}

@-webkit-keyframes autofill {
  to {
    color: #A5ABBD;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-animation-delay: 0s;
}

.labels {
  color: #A5ABBD;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  max-width: 250px;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.fileinput .thumbnail.img-circle {
  border-radius: 50%;
  max-width: 100px;
}

.artist-href, .album-href {
  cursor: pointer;
}

/*# sourceMappingURL=selftunes.css.map */
